NODE_ENV=development
HOST=0.0.0.0
PORT=3000
ALLOWED_ORIGIN=*

FIREBASE_API_KEY=AIzaSyCU827MQQfyZ8iinPF1JNPqvQYDusRTdjQ
FIREBASE_AUTH_DOMAIN=group4ht.firebaseapp.com
FIREBASE_PROJECT_ID=group4ht
FIREBASE_APP_ID=1:858975045729:web:2f4cfc8e7c95870ed48220